import { Component } from '@angular/core';


@Component({

    selector: 'frameworks',

    template: `
    
        <h1>Frameworks</h1>

        

                
        no Hello!!!
        
    
    `
})
export class FrameworksComponent {}